@import url('https://example.com/path-to-gotham-font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* @keyframes zoom-pulse {
  0%, 100% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-zoom-pulse {
  animation: zoom-pulse 3s ease-in-out infinite;
} */